<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='panel.css') }}">
    <script src="{{ url_for('static',filename='utils.js') }}"></script>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <ul>
            {% if auth %}
                <li class="right"><a href="#" class="top_panel" onclick="logout()">Выйти</a></li>
                <li class="left"><a href="/menu" class="top_panel">Меню</a></li>
                <li class="right"><a href="/u/{{ userinfo.get('username') }}" class="top_panel">{{ userinfo.get('displayname') }}</a></li>
            {% else %}
                <li class="right"><a href="/login" class="top_panel">Вход/Регистрация</a></li>
            {% endif %}
        </ul>
    </header>
    {% block content %}{% endblock %}
</body>
</html>