{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='menu.css') }}">
{% endblock %}

{% block title %}
    Menu
{% endblock %}

{% block content %}
    <section class="orders_section">
        {% for category, items in dailycomplex.items() %}
            <div class="category_head">
                <div class="category_label">{{ category }}</div>
                <div class="complex_buy" data-itemid="{{ items['ID'] }}" onclick="addToCart('complex')"><span>Купить</span></div>
            </div>
            <div class="category">
                {% for item in items['foods'] %}
                    <div class="item">
                        <img src="{{ item.image_link }}" alt="{{ item.title }}">
                        <div class="item_title">
                            <div class="item_tooltip_hover">
                                {{ item.title }}
                                <div class="item_tooltip_hover_content">
                                    Вес: {{ item.weight }}<br>
                                    Калорийность: {{ item.calories }}<br>
                                    Цена: {{ item.price }} руб.<br>
                                    <a target="_blank" rel="noopener noreferrer" href="{{ item.link }}">Ссылка</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br><br>
        {% endfor %}
        {% for category, items in dailymenu.items() %}
            <div class="category_label">{{ category }}</div>
            <div class="category">
                {% for item in items %}
                    <div class="item">
                        <img src="{{ item.image_link }}" alt="{{ item.title }}">
                        <div class="item_title">
                            <div class="item_tooltip_hover">
                                {{ item.title }}
                                <div class="item_tooltip_hover_content">
                                    Вес: {{ item.weight }}<br>
                                    Калорийность: {{ item.calories }}<br>
                                    Цена: {{ item.price }} руб.<br>
                                    <a target="_blank" rel="noopener noreferrer" href="{{ item.link }}">Ссылка</a>
                                </div>
                            </div>
                            <div class="favorite_button">
                                <span></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br><br>
        {% endfor %}
    </section>
    <script>window.username = "{{ userinfo.get('username') }}"</script>
    <script src="{{ url_for('static',filename='cart.js') }}"></script>
    <script src="{{ url_for('static',filename='login.js') }}"></script>
{% endblock %}