{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='userprofile.css') }}">
{% endblock %}

{% block title %}
    {{ userinfo.get('displayname') }}'s profile
{% endblock %}

{% block content %}
    {% if cart %}
        {% for title, complexInfo in cart['complex'].items() %}
            <div class="complexProduct">
                <div class="complexProductTitle">
                    {{ title }}  -  {{ complexInfo['price'] }} руб.
                </div>
                <div class="complexProductItems">
                    {% for food in complexInfo['foods'] %}
                        <div class="complexProductItem">
                            &emsp;&emsp;&emsp;<a href="{{ food.link }}">{{ food.title }}  -  {{ food.price }} руб.</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% for food in cart['menu'] %}
            <div class="product">
                {{ food.title }}
            </div>
        {% endfor %}
        <div class="cartSum">
            Сумма заказа - {{ cart['_SUM'] }} руб.
        </div>
    {% else %}
        Корзина пуста
    {% endif %}
    <script src="{{ url_for('static',filename='login.js') }}"></script>
{% endblock %}