{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='userprofile.css') }}">
{% endblock %}

{% block title %}
    {{ userinfo.get('displayname') }}'s profile
{% endblock %}

{% block content %}
    {% if userinfo.get('account_share') and userinfo['account_share'].get('shared_to') %}
        {% for user, target_user_id in userinfo['account_share']['shared_to'].items() %}
            <div class="shared-list">
                <div class="shared-user">{{ user }}</div>
                <a class="delete-shared" data-userid="{{ target_user_id }}" onclick=deleteShared()>Удалить</a>
            </div>
        {% endfor %}
    {% endif %}
    <div class="add-shared-forms">
        <div class="add-shared-form width200">
            <input type="text" name="add-shared-username" id="add-shared-username" spellcheck="false" maxlength="25" placeholder=" " onkeydown="addSharedEnterKey()">
            <label for="add-shared-username" class="label-name"><span class="content-name">Пользователь</span></label>
        </div>
        <div class="add-shared-form width75">
            <input type="text" name="add-shared-day" id="add-shared-days" spellcheck="false" maxlength="2" placeholder=" " onkeydown="addSharedEnterKey()">
            <label for="add-shared-day" class="label-name"><span class="content-name">дни</span></label>
        </div>
        <div class="add-shared-form width75">
            <input type="text" name="add-shared-hour" id="add-shared-hours" spellcheck="false" maxlength="2" placeholder=" " onkeydown="addSharedEnterKey()">
            <label for="add-shared-hour" class="label-name"><span class="content-name">часы</span></label>
        </div>
        <div class="add-shared-form width75">
            <input type="text" name="add-shared-minute" id="add-shared-minutes" spellcheck="false" maxlength="2" placeholder=" " onkeydown="addSharedEnterKey()">
            <label for="add-shared-minute" class="label-name"><span class="content-name">минуты</span></label>
        </div>
        <div class="add-shared-form width75">
            <input type="text" name="add-shared-second" id="add-shared-seconds" spellcheck="false" maxlength="2" placeholder=" " onkeydown="addSharedEnterKey()">
            <label for="add-shared-second" class="label-name"><span class="content-name">секунды</span></label>
        </div>
    </div>
    <div class="add-shared-submit"><a onclick="addShared()">Добавить</a></div>
    <div class="add-shared-submit"><a onclick="addShared(true)">Добавить на неопределенный срок</a></div>
{% endblock %}