table, th, td {
  border-bottom: 1.5px solid #aaa;
  border-collapse: collapse;
  color: #dfdfdf;
  padding: 20px;
}

.cartItemPrice, .cartItemAmount {
  text-align: center;
}

.cartItemAction {
  width: 100px;
  height: 19px;
  background-color: #810040;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.tableProduct {
  width: 500px;
}

.cartItemAmount input {
  width: 30px;
  text-align: center;
}

.cartInfo, .cartAct {
  font-size: 25px;
  padding: 0 0 10px 20px;
}

.cartInfo, .cartAct a {
  color: #dfdfdf;
}

.cartAct a {
  cursor: pointer;
  transition: 0.4s;
}

.cartAct a:hover {
  color: #e70073;
}
