header, .orders_section {
    padding-bottom: 50px;
}

.menu_category, .category_label {
    cursor: default;
}

.menu_category {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    width: 1200px;
}

.complex_category {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    width: 870px;
}

.item {
    font-size: 1em;
    width: 180px;
}

.complexitem {
    font-size: 0.9em;
    width: 150px;
}

.item, .complexitem {
    font-family: Arial;
    border: 2px solid #bd6508;
    border-radius: 5px;
    background-color: rgba(189, 101, 8, 0.5);
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    color: #e8e6e3;
}

.complexitem img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.item_tooltip_hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.item_tooltip_hover:hover .item_tooltip_hover_content {
    cursor: default;
    display: block;
}

.item_tooltip_hover_content {
    display: none;
    position: absolute;
    background-color: #1d1f20;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    min-width: 220px;
}

.category_label {
    color: #e8e6e3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-left: 0.5em;
}

.item_title {
    margin-bottom: 0.5em;
}

.item_tooltip_hover_content a {
    text-decoration: none;
    color: #3391ff;
}

.category_head {
    display: flex;
}

.orders_section {
    width: 70vw;
    margin: auto;
}

.circle {
    display: flex;
    background-color: rgb(44,108,128);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    font-family: Courier;
    color: white;
    
    user-select: none;
}

.rotate360 {
    transition: transform .8s;
}

.rotate360:hover {
    transform: rotate(360deg);
}

.heart {
    font-size: 20px;
    color: #ff0040;
}

.heart:hover {
    transform: rotate(-45deg);
}

.heart:hover span {
    animation: animateHeart 1.2s infinite;
}

.menu_item_img img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transition: filter .2s ease-out;
}

.menu_item_img {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    margin: 10px auto;
}

.menu_item_img:hover img {
    filter: brightness(50%);
}

.hidden {
    display: flex;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0;
    transition: all .2s ease-out;
}

.menu_item_img:hover > .hidden {
    opacity: 1;
}

@keyframes animateHeart {
    0% {
      transform: rotate(45deg) scale(1.05);
    }
    5% {
      transform: rotate(45deg) scale(1.35);
    }
    10% {
      transform: rotate(45deg) scale(1.2);
    }
    15% {
      transform: rotate(45deg) scale(1.5);
    }
    50% {
      transform: rotate(45deg) scale(1.2);
    }
    100% {
      transform: rotate(45deg) scale(1.2);
    }
  }

@media (max-width: 1400px) {
    .orders_section {
        width: auto;
        margin: 0;
    }

    .complex_category, .menu_category {
        width: 950px;
    }
 }

 /* Mobile */
 @media (max-width: 1100px) {
    .category_label {
        font-size: 5em;
    }

    .item, .complexitem {
        width: 95vw;
        padding: 40px;
    }

    .item img, .complexitem img {
        width: 300px;
        height: 300px;
    }

    .item_title {
        font-size: 3.5em;
    }

    .menu_item_img {
        width: 300px;
        height: 300px;
        position: relative;
        border-radius: 50%;
        margin: 10px auto;
    }

    .complex_category, .menu_category {
        margin: auto;
    }

    .category_head {
        width: 95vw;
        align-items: center;
        justify-content: center;
    }

    .circle {
        width: 60px;
        height: 60px;
        margin: auto 0 auto 20px;
    }

    .rotate360 {
        font-size: 70px;
    }

    .heart {
        font-size: 45px;
    }
 }
